* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Iosevka NFM SemiBold';
    font-size: 15px;
    background-color: transparent;
    color: #9DA9A0;
}
 
button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

window#waybar {
    margin-top: 5px;
    margin: 5px;
    padding: 0px;
    border-radius: 0px;
}

#window {
}

#workspaces {
    padding: 0px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: #9DA9A0;
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

#tray {
    margin-right: 12px;
    -gtk-icon-effect: dim;
}

#tray > .passive {
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
