* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrains Mono;
    font-size: 13px;
    margin: 1px;
    border-radius: 15px;
    color: #e0def4;
}

window#waybar {
    margin: 5px;
    padding: 0px;
    border-radius: 0px;
    background-color: rgba(25, 23, 36, 0.8);
    color: #e0def4;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    color: #e0def4;
    padding: 0 5px;
    background-color: rgb(31, 29, 46);
}

#workspaces button:hover {
    color: #e0def4;
    background: rgb(144, 140, 170);
    box-shadow: 0px 0px 0px;
}

#workspaces button.focused {
    color: #e0def4;
    background-color: #64727D;
}

#workspaces button.urgent {
    color: #e0def4;
    background-color: rgb(235, 111, 146);
}

#clock,
#tray {
    padding: 0 10px;
    margin-right: 2px;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgb(31, 29, 46);
}
#tray {
    background-color: rgb(31, 29, 46);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #26233a;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
